@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn.boxicons.com/3.0.3/fonts/basic/boxicons.min.css');
@import url('https://cdn.boxicons.com/3.0.3/fonts/brands/boxicons-brands.min.css');
@import './styles/global.css';

body {
  font-family: "Lora", serif;
}