@import url('https://cdn.boxicons.com/3.0.3/fonts/basic/boxicons.min.css');
@import url('https://cdn.boxicons.com/3.0.3/fonts/brands/boxicons-brands.min.css');
@import './styles/font.css';
@import './styles/global.css';